@import 'tailwindcss';

@theme inline {
  --font-fallback:
    'Adjusted Arial Fallback', system-ui, -apple-system, blinkmacsystemfont, 'Segoe UI',
    'Noto Sans', helvetica, arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
  --font-primary: 'Inter';
  --font-secondary: 'Bebas Neue';

  --color-primary: #ce9c65;
  --color-dark: #282828;
  --color-black: #1e1e1e;
  --color-gray: #6d6e70;

  --text-big: clamp(2.5rem, 10vw, 12rem);
  --text-large: clamp(2rem, 10vw, 8rem);

  --header-height: 6rem;

  --transition-duration: 20s;
  --animate-marquee: marquee var(--transition-duration) linear infinite;
  @keyframes marquee {
    to {
      transform: translateX(-100%);
    }
  }
}

@layer base {
  /* Webkit Browsers (Chrome, Safari, Edge) */
  ::-webkit-scrollbar {
    width: 10px;
  }

  ::-webkit-scrollbar-track {
    background:;
  }

  ::-webkit-scrollbar-thumb {
    background-color:;
    border-radius: 5px;
    border: 2px solid oklch(67.65% 0.1539 329.18 / 0.4);
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color:;
    /* Efecto hover */
  }

  /* Firefox */
  * {
    scrollbar-color:;
    scrollbar-width: thin;
  }
}

@layer components {
  .container {
    @apply mx-auto px-6;
  }
}

@font-face {
  font-family: 'Anisette';
  src: url('/fonts/Inter-variable.woff2') format('woff2');
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: 'Bebas Neue';
  src: url('/fonts/BebasNeue.woff2') format('woff2');
  font-weight: 600;
  font-display: swap;
}

:root {
  color-scheme: light dark;
}

html,
Body {
  font-family: 'Inter', var(--font-fallback);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  scrollbar-gutter: stable;
  @apply bg-black;
}


button {
  cursor: pointer;
}

@utility mask-fade-bottom {
  mask-image: linear-gradient(to bottom, black 80%, transparent 100%);
}
