---
import Layout from '../layouts/Layout.astro'
---

<Layout title=''>
  <div class='flex h-screen flex-col items-center justify-center p-4 text-center'>
    <h1 class='text-3xl font-bold'>ASTRO BOILERPLATE</h1>
    <p class='mx-auto mt-4 max-w-3xl text-balance'>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestiae ratione nam repellat
      necessitatibus atque temporibus sequi numquam harum, magni animi amet rem voluptatem obcaecati
      pariatur dolorem rerum ut labore fugit.
    </p>
  </div>
</Layout>
