---
import Button from '@/components/Button.astro'
---

<section class='contact-section pt-40'>
  <div class='container max-w-7xl'>
    <div class='grid grid-cols-1 overflow-hidden lg:grid-cols-2'>
      <!-- Imagen - Lado izquierdo -->
      <div class='barbershop-image'>
        <div class='relative overflow-hidden h-full'>
          <img
            src='/contact/local.webp'
            alt='Interior de la barbería'
            class='h-full w-full object-cover'
          />
          <div class='absolute inset-0 bg-gradient-to-r from-gray-900/20 to-transparent'></div>
        </div>
      </div>

      <!-- Formulario - Lado derecho -->
      <div class='booking-form bg-dark p-10'>
        <div class='relative'>
          <h2 class='text-md font-secondary leading-none'>RESERVA UN&nbsp;ASIENTO</h2>
          <div class='bg-primary absolute right-full top-1/2 h-0.5 w-40 -translate-y-1/2'></div>
        </div>
        <p class='font-primary mb-12 text-lg text-white/75'>
          Rellena este formulario y consigue tu plaza
        </p>

        <form class='space-y-6' id='booking-form'>
          <!-- Campo de Fecha -->
          <div class='relative'>
            <input
              type='date'
              id='date'
              name='date'
              class='focus:border-primary w-full rounded-lg border border-white/15 bg-transparent px-4 py-4 pl-12 text-white/65 placeholder-white/65 transition-colors duration-300 focus:outline-none'
              required
            />
            <div class='pointer-events-none absolute left-4 top-1/2 -translate-y-1/2 transform'>
              <svg
                class='h-5 w-5 text-white/65'
                fill='none'
                stroke='currentColor'
                viewBox='0 0 24 24'
              >
                <path
                  stroke-linecap='round'
                  stroke-linejoin='round'
                  stroke-width='2'
                  d='M8 7V3m8 4V3m-9 8h10M5 21h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z'
                ></path>
              </svg>
            </div>
          </div>

          <!-- Campo de Hora -->
          <div class='relative'>
            <input
              type='time'
              id='time'
              name='time'
              class='focus:border-primary w-full rounded-lg border border-white/15 bg-transparent px-4 py-4 pl-12 text-white/65 placeholder-white/65 transition-colors duration-300 focus:outline-none'
              required
            />
            <div class='pointer-events-none absolute left-4 top-1/2 -translate-y-1/2 transform'>
              <svg
                class='h-5 w-5 text-white/65'
                fill='none'
                stroke='currentColor'
                viewBox='0 0 24 24'
              >
                <path
                  stroke-linecap='round'
                  stroke-linejoin='round'
                  stroke-width='2'
                  d='M12 8v4l3 3m6-3a9 9 0 11-18 0 9 9 0 0118 0z'></path>
              </svg>
            </div>
          </div>

          <!-- Select de Sucursal -->
          <div class='relative'>
            <select
              id='branch'
              name='branch'
              class='focus:border-primary w-full appearance-none rounded-lg border border-white/15 bg-transparent px-4 py-4 pl-12 text-white/65 placeholder-white/65 transition-colors duration-300 focus:outline-none'
              required
            >
              <option value='' disabled selected>Selecion nuestra sucursal</option>
              <option value='downtown'>Sucursal parte baja</option>
              <option value='mall'>Mall plaza sucursal</option>
              <option value='center'>Ciudad centro</option>
              <option value='north'>Distrito del norte</option>
            </select>
            <div class='pointer-events-none absolute left-4 top-1/2 -translate-y-1/2 transform'>
              <svg
                class='h-5 w-5 text-white/65'
                fill='none'
                stroke='currentColor'
                viewBox='0 0 24 24'
              >
                <path
                  stroke-linecap='round'
                  stroke-linejoin='round'
                  stroke-width='2'
                  d='M17.657 16.657L13.414 20.9a1.998 1.998 0 01-2.827 0l-4.244-4.243a8 8 0 1111.314 0z'
                ></path>
                <path
                  stroke-linecap='round'
                  stroke-linejoin='round'
                  stroke-width='2'
                  d='M15 11a3 3 0 11-6 0 3 3 0 016 0z'></path>
              </svg>
            </div>
            <div class='pointer-events-none absolute right-4 top-1/2 -translate-y-1/2 transform'>
              <svg
                class='h-5 w-5 text-white/65'
                fill='none'
                stroke='currentColor'
                viewBox='0 0 24 24'
              >
                <path
                  stroke-linecap='round'
                  stroke-linejoin='round'
                  stroke-width='2'
                  d='M19 9l-7 7-7-7'></path>
              </svg>
            </div>
          </div>

          <!-- Campo de Número de Personas -->
          <div class='relative'>
            <input
              type='number'
              id='people'
              name='people'
              min='1'
              max='10'
              placeholder='Numero de personas'
              class='focus:border-primary w-full rounded-lg border border-white/15 bg-transparent px-4 py-4 pl-12 text-white placeholder-white/65 transition-colors duration-300 focus:outline-none'
              required
            />
            <div class='pointer-events-none absolute left-4 top-1/2 -translate-y-1/2 transform'>
              <svg
                xmlns='http://www.w3.org/2000/svg'
                fill='none'
                viewBox='0 0 24 24'
                stroke-width='1.5'
                stroke='currentColor'
                class='size-5 text-white/65'
              >
                <path
                  stroke-linecap='round'
                  stroke-linejoin='round'
                  d='M18 18.72a9.094 9.094 0 0 0 3.741-.479 3 3 0 0 0-4.682-2.72m.94 3.198.001.031c0 .225-.012.447-.037.666A11.944 11.944 0 0 1 12 21c-2.17 0-4.207-.576-5.963-1.584A6.062 6.062 0 0 1 6 18.719m12 0a5.971 5.971 0 0 0-.941-3.197m0 0A5.995 5.995 0 0 0 12 12.75a5.995 5.995 0 0 0-5.058 2.772m0 0a3 3 0 0 0-4.681 2.72 8.986 8.986 0 0 0 3.74.477m.94-3.197a5.971 5.971 0 0 0-.94 3.197M15 6.75a3 3 0 1 1-6 0 3 3 0 0 1 6 0Zm6 3a2.25 2.25 0 1 1-4.5 0 2.25 2.25 0 0 1 4.5 0Zm-13.5 0a2.25 2.25 0 1 1-4.5 0 2.25 2.25 0 0 1 4.5 0Z'
                ></path>
              </svg>
            </div>
          </div>

          <Button className='mt-8' />
        </form>
      </div>
    </div>
  </div>
</section>

<style>
  /* Estilos personalizados para inputs de fecha y hora */
  input[type='date']::-webkit-calendar-picker-indicator,
  input[type='time']::-webkit-calendar-picker-indicator {
    opacity: 0;
    position: absolute;
    right: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
  }

  input[type='date']:focus::-webkit-datetime-edit,
  input[type='time']:focus::-webkit-datetime-edit,
  input[type='date']:valid::-webkit-datetime-edit,
  input[type='time']:valid::-webkit-datetime-edit {
    opacity: 1;
  }

  /* Estilos para el select */
  select option {
    background-color: var(--color-dark);
    color: white;
  }

  /* Estilo para placeholders */
  .date-placeholder,
  .time-placeholder {
    transition: opacity 0.3s ease;
  }
</style>
