<footer id='footer' class='pt-40'>
  <div class='border-t-primary container max-w-7xl border-t py-10'>
    <div class='font-secondary text-[clamp(3rem,16vw,14rem)] text-nowrap leading-none text-center'>
      <span class='text-primary'>BARBER</span>STEEL
    </div>
  </div>
</footer>
