---
import Navbar from './Navbar.astro'
---

<header
  id='header'
  class='before:bg-gray/50 relative before:absolute z-10 before:bottom-0 before:right-0 before:h-0.5 before:w-3/5'
>
  <div
    class='h-(--header-height) container flex max-w-7xl items-center justify-between pt-6'
  >
    <div class='logo font-secondary text-3xl'>
      <span class='text-primary'>BARBER</span>STEEL
    </div>

    <Navbar />
  </div>
</header>
