---
import Button from "@/components/Button.astro";
---

<section id='hero' class='relative z-10 min-h-screen pt-24'>
  <div class='container max-w-7xl'>
    <div class='font-secondary flex items-center gap-16 leading-none'>
      <h1 class='text-large max-w-min'>FORJAMOS&nbsp;TU LOOK&nbsp;PERFECTO</h1>
      <Button withBackground />
    </div>
  </div>
</section>
