---
import { services } from '@/data/site-data'
---

<section id='services' class='py-40'>
  <div class='container max-w-7xl'>
    <header class='relative'>
      <div class='dot-grid absolute bottom-[125%] right-0 size-40 md:top-0'></div>

      <h2 class='text-big font-secondary leading-none'>NUESTROS SERVICIOS</h2>
      <p class='max-w-xl text-xl'>
        Disfruta de una variedad de nuestros mejores servicios que te haran que su valor aumente
        instantaneamente
      </p>
    </header>

    <div class='mt-16 flex flex-wrap justify-center gap-8'>
      {
        services.map((service) => {
          const { items, icon: Icon } = service

          return (
            <ul class='bg-dark flex basis-80 flex-col gap-8 px-6 py-16 md:px-10'>
              <div class='text-primary'>
                <Icon class='h-20' />
              </div>

              {items.map((item) => {
                const { label, description, price } = item

                return (
                  <li>
                    <div class='font-secondary xs:flex-row flex flex-col xs:items-center gap-y-2 gap-4 text-nowrap text-xl leading-none'>
                      <h4>{label}</h4>
                      <div class='bg-primary xs:block hidden h-0.5 w-full' />
                      <p class='text-primary text-2xl'>{price}</p>
                    </div>
                    <p class='max-w-xs text-white/60'>{description}</p>
                  </li>
                )
              })}
            </ul>
          )
        })
      }
    </div>
  </div>
</section>
